 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
opacity: 0.8;
background-size: 10px 10px;
background-image: repeating-linear-gradient(45deg, #c90cb3 0, #c90cb3 1px, #000000 0, #000000 50%);
}

.nav_logo{
    text-align: left;
    width: 100%;
    padding: 2rem 4rem;
    font-size: 45px;
    background-color: #000;
    color: #efefef;
}

.frasePrincipal{
    text-align: left;
    width: 100%;
    padding: 20px;
    font-size: 33px;
    background-color: #000;
    color: #efefef;
}

.items{
    display: flex;
    margin-right: 20px;
    text-align: left;
    color:#efefef;
    justify-content: space-between;
    text-decoration: none;


}

.nav_items{
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
    color:#efefef
}


.textoMitad{
    text-align: center;
    width: 100%;
    padding: 0px 100px;
    font-size: 20px;
    background-color: #000;
    color: #efefef;
    margin: 5px auto;
}

.nav.link{
    color: #efefef;
}

.imagen12{
    
    border-radius: 15px;
    display: flex;
    align-items: left;
    max-width: 100%;
    max-height: 100%;
}

.itt{
    display: flex;
    margin-right: 20px;
    text-align: left;
    color:#efefef;
    justify-content: space-between;
    text-decoration: none;
    font-size: 25px;
}